<!-- ✅ Mostrar la main-mat-toolbar solo si estamos en el Dashboard -->
<mat-toolbar class="main-mat-toolbar" *ngIf="isDashboard">
  <div class="title">
    <span>ToDo App</span>
  </div>
  <div class="other" [ngStyle]="{ 'background-color': dashboardBgColor }">
    {{ selectedGroupName }}
  </div>
</mat-toolbar>

<!-- ✅ Mostrar la second-mat-toolbar solo en Login o Registro -->
<mat-toolbar class="second-mat-toolbar" *ngIf="!isDashboard">
    <span>ToDo App</span>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <p>&copy; 2025 ToDo App - Todos los derechos reservados</p>
</footer>
