<div class="dashboard-container">
  <!-- Panel de Grupos -->
  <div class="task-groups-column">
    <app-task-groups (groupSelected)="onGroupSelected($event)"></app-task-groups>
  </div>

  <!-- Zona Principal del Dashboard -->
  <div class="task-main-column" *ngIf="selectedGroup">
    <!-- Contenedor de Columnas -->
    <div class="task-columns">
      <!-- Iteramos sobre las columnas del grupo -->
      <div class="task-column" *ngFor="let column of selectedGroup.columns">
        <!-- Header de la columna con el nombre -->
        <div class="column-header">
          <small>{{ column.columnName }}</small>
        </div>

        <!-- Contenedor de tareas -->
        <div class="task-list">
          <div *ngFor="let task of tasksByColumn[column.status]" class="task-card">
            {{ task.name }}

            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            
            <!-- Menú con la clase personalizada -->
            <mat-menu #menu="matMenu" [overlapTrigger]="false" panelClass="custom-mat-menu">
              <button mat-menu-item (click)="deleteTask(task)">
                <mat-icon>delete</mat-icon>
                <span>Eliminar tarjeta</span>
              </button>
              <button mat-menu-item (click)="editTask(task)">
                <mat-icon color="primary">edit</mat-icon>
                <span>Editar tarjeta</span>
              </button>            
            </mat-menu>
          </div>

          <input *ngIf="btnTaskActive" #taskInput class="task-card-input" type="text">
        </div>

        <!-- Botón para añadir tarea -->
        <button *ngIf="!btnTaskActive" mat-stroked-button class="add-task-btn" (click)="addNewTask()">
          <span>+ Añadir Tarea</span>
        </button>

        <!-- Botón para añadir tarea -->
        <div *ngIf="btnTaskActive" class="add-task-btn-container">
          <button mat-stroked-button class="add-task-btn-active" (click)="newTask(column)">
            <span>Añadir tarjeta</span>
          </button>
          <button class="cancel-new-task" (click)="cancelNewTask()">X</button>
        </div>
      </div>

      <!-- ✅ Columna para "Añadir Columna" al final -->
      <div class="task-column add-column">
        <div class="add-column-header">
          + Añadir Columna
        </div>
      </div>
    </div>
  </div>
</div>